<% if user.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">
      <%= user.errors.count %>件のエラーが発生しました：
    </h4>
    <ul class="mb-0">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<style>
  .alert {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 6px;
  }

  .alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
  }

  .alert-heading {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .alert ul {
    padding-left: 1.5rem;
    margin-bottom: 0;
  }

  .alert li {
    margin-bottom: 0.25rem;
    line-height: 1.5;
  }
</style> 